.menu
  .menu__item--active Search
  .menu__item= link_to 'Stats', stats_path

.search-box.js-search-box
  %input.search-box__input.js-search-box__input{ autofocus: true, placeholder: 'Enter some text' }
  %button.search-box__button.js-search-box__button Submit

.articles-container.js-articles-container
